canvas {
width: 100%;
height: 100%;
}

#buttonsright {
text-align: center;
background: rgba(200, 200, 200, 0);
margin:0 auto 0;
position: absolute;
bottom: 0.5em;
right: 0.5em;
padding: 0.5em;
width: 20em;
height: 4em;
border-radius: 8px;
}

#toggle {
text-align: center;
vertical-align: top;
color: white;
background: rgba(200, 200, 200, 0.5);
height: 4em;
width: 5em;
border-radius: 8px;
}
